<div class="footer">
  <div class="row">
    <div class="col-s3">
      <p>Investor Relations</p>
      <p>Corporate Social Responsibility</p>
      <p>Community Investment</p>
      <p>About Rogers</p>
    </div>
    <div class="col-s3">
      <p>Privacy & CRTC</p>
      <p>Ad Choices</p>
      <p>Careers</p>
      <p>Accessibility Services</p>
      <p>Rogers Mastercard</p>
    </div>
    <div class="col-s3">
      <p>Terms & Conditions</p>
      <p>Site Map</p>
      <p>Media Contact</p>
      <p>Unsubscribe</p>
      <p>Community Forums</p>
    </div>

  </div>
</div>
