.card .card-image {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
  }
}

.btn-floating.halfway-fab {
  bottom: 20px !important;
}
.modal-trigger{
  cursor: pointer;
}
