<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="https://www.rogers.com/cms/rogers/images/rogers-brand.png" alt="Logo"></a>
      <ul id="nav-mobile" class="right">
        <li>
          <a [routerLink]="['/review-order']" routerLinkActive="router-link-active"  class="waves-effect waves-light">
            <span class="shoppingCartItems">{{shoppingCartItems}}</span>
            <i class="large material-icons">shopping_cart</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
