
<div class="row banner">
  <p class="headerTitle">Congratulations on your MyChoice customized entertainment package!</p>
  <p class="orderNum">Order #: 8A776NHG78</p>
</div>
<p class="headerDesc">Sit back, relax, and get comfy to gain the experience of a lifetime.</p>
<div class="row tv">
  <div class="tile col s3" *ngFor="let channelData of customizedPackage"> 
    <img src="assets/images/logos/{{channelData.ttCode+'.png'}}">
  </div>
</div>

<div class="row">
  <p class="disclaimer">WE THANK YOU FOR YOUR INTEREST IN THE ROGERS WEB SITE (THE "ROGERS STORE"). PLEASE READ THESE TERMS AND CONDITIONS OF USE (THE "TERMS AND CONDITIONS") CAREFULLY BEFORE USING THE ROGERS STORE. BY USING THE ROGERS STORE, YOU AGREE TO COMPLY WITH ALL OF THE TERMS AND CONDITIONS SET OUT BELOW. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS, PLEASE DO NOT USE THE ROGERS STORE. WE RESERVE THE RIGHT, AT OUR SOLE DISCRETION, TO MODIFY THE TERMS AND CONDITIONS AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED TERMS AND CONDITIONS. YOU AGREE TO REVIEW THE TERMS AND CONDITIONS PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED USE OF THE ROGERS STORE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED TERMS AND CONDITIONS.</p>
</div>
